body {
    height: 100%;
    background: blue;
    animation-name: appear;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 5s;
    opacity: 1;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    left: 0px;
    top: 0px;
    font-size: 50px;
    position: absolute;
}

#logo {
    left: 0px;
    top: 0px;
    width: 200px;
    height: 00px;
}